.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@keyframes transformScale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.scroll-lock {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

section.padding {
  padding: 94px 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header .container {
  display: flex;
  align-items: center;
  height: 80px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  color: #212121;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  color: #000000;
}

.logo__accent {
  color: #2196f3;
}

.logo--inverse {
  color: #ffffff;
}

.social-links__wrapper {
  margin: 0 32px;
}

.footer .social-links__wrapper {
  min-width: 206px;
  margin-left: 0;
  margin-right: 93px;
}

.social-links {
  display: flex;
  justify-content: space-between;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-button--light-theme {
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-button--dark-them {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-button__icon {
  fill: currentColor;
}

.social-button:hover, .social-button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button__icon {
  display: inline-block;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.modal-button:hover, .modal-button:focus {
  background-color: #188ce8;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  width: 528px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.backdrop.is-hidden + .modal-window {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(1.5);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-close-btn:hover, .modal-close-btn:focus {
  cursor: pointer;
  color: #2196f3;
}

.close-btn-icon {
  fill: currentColor;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-form-title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.modal-form-field-wrapper {
  width: 100%;
  margin-bottom: 20px;
}

.modal-form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-form-field:not(:last-child) {
  margin-bottom: 10px;
}

.modal-form-lable {
  display: block;
  text-align: left;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
}

.modal-form-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input-wrapper:hover {
  color: #2196f3;
}

.modal-form-input:focus,
.modal-form-comment:focus {
  border-color: #2196f3;
  outline: none;
}

.modal-form-input {
  width: 100%;
  padding-left: 42px;
  padding-right: 12px;
  padding-top: 11px;
  padding-bottom: 11px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-icon {
  position: absolute;
  left: 12px;
  fill: currentColor;
}

.modal-form-input:focus + .modal-form-icon {
  color: #2196f3;
}

.modal-form-comment {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment::placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-policy-text {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
  padding-left: 24px;
  font-size: 14px;
  line-height: 1.714;
}

.modal-form-policy-text::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: '';
  display: block;
  width: 16px;
  height: 15px;
  opacity: 1;
  border-radius: 2px;
  background-color: #ffffff;
  background-image: url(../images/icons/icons.svg#icon-check);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-policy:checked + .modal-form-policy-text::before {
  opacity: 0;
}

.modal-form-policy-text::after {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: '';
  display: block;
  width: 16px;
  height: 15px;
  opacity: 0;
  border-radius: 2px;
  background-color: #2196f3;
  background-image: url(../images/icons/icons.svg#icon-check-checked);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-policy:checked + .modal-form-policy-text::after {
  opacity: 1;
}

.modal-form-policy-link {
  color: #2196f3;
}

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
  align-items: center;
  height: 100%;
}

.navigation__list {
  display: flex;
  margin-left: 93px;
  height: 100%;
}

.navigation__item {
  position: relative;
  display: flex;
  align-items: center;
}

.navigation__item:not(:first-child) {
  margin-left: 50px;
}

.navigation__link {
  padding: 10px 0;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link::after {
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  content: '';
  background-color: #2196f3;
  opacity: 0;
  pointer-events: none;
  animation: transformScale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link.current::after {
  opacity: 1;
}

.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}

.contakts {
  margin-left: auto;
}

.contakts__list {
  display: flex;
}

.contakts__item:not(:first-child) {
  margin-left: 50px;
}

.contakts__link {
  display: flex;
  align-items: center;
  padding: 10px 0;
  font-style: normal;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contakts__link:hover, .contakts__link:focus {
  color: #2196f3;
}

.contakts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 200px 15px;
  min-width: 1200px;
  max-width: 1600px;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.advantages {
  padding-top: 94px;
}

.advantages__list {
  display: flex;
}

.advantages__item {
  flex-basis: calc((100% - 90px) / 4);
}

.advantages__item:not(:first-child) {
  margin-left: 30px;
}

.advantages__thumb {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.advantages__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  color: #212121;
}

.about__list {
  display: flex;
}

.about__item {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
}

.about__item:not(:first-child) {
  margin-left: 30px;
}

.about__title {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  font-size: 16px;
  line-height: 1.187;
  background-color: #f5f4fa;
}

.team-cards-list {
  display: flex;
}

.team-card {
  flex-basis: calc((100% - 90px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-card:not(:first-child) {
  margin-left: 30px;
}

.team-text-container {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: inherit;
  color: #212121;
}

.team-position {
  margin-bottom: 16px;
}

.clients-list {
  display: flex;
  height: 90px;
}

.clients-item {
  flex-basis: calc((100% -150px) / 6);
}

.clients-item:not(:first-child) {
  margin-left: 30px;
}

.clients-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-button:hover, .clients-button:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.clients-button-icon {
  fill: currentColor;
}

.portfolio-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-filter-item:not(:first-child) {
  margin-left: 8px;
}

.portfolio-filter-btn {
  border-style: none;
  border-radius: 4px;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filter-btn.current, .portfolio-filter-btn:hover, .portfolio-filter-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-filter-btn:not(.current):hover {
  cursor: pointer;
}

.portfolio-cards-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * 30px);
  margin-left: calc(-1 * 30px);
}

.portfolio-card {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover, .portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-discription {
  position: absolute;
  padding: 63px 24px;
  top: 100%;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  background-color: #2196f3;
  color: #ffffff;
  opacity: 0.9;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .portfolio-discription,
.portfolio-link:focus .portfolio-discription {
  transform: translateY(-100%);
}

.portfolio-text-container {
  flex-grow: 1;
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-address-container {
  width: 231px;
  margin-right: 70px;
}

.footer-contacts {
  margin-top: 20px;
}

.footer-contacts-address, .footer-contacts-item:not(:last-child) {
  margin-bottom: 9px;
  font-style: normal;
  color: #ffffff;
}

.footer-contacts-link {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.footer-title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-modal-form {
  display: flex;
  align-items: flex-end;
}

.footer-modal-form-field {
  margin-right: 12px;
}

.footer-modal-form-input {
  width: 358px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
}

.footer-modal-form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/*# sourceMappingURL=main.css.map */