.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;

  border-bottom: 1px solid $top-line-color;
}

.navigation {
  display: flex;
  align-items: center;

  height: 100%;

  &__list {
    display: flex;
    margin-left: 93px;

    height: 100%;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;

    &:not(:first-child) {
      margin-left: 50px;
    }
  }

  &__link {
    padding: 10px 0;
    color: $titels-color;

    transition: color 250ms $cubic;

    &::after {
      position: absolute;
      bottom: -1px;

      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;

      content: '';
      background-color: $accent-color;

      opacity: 0;
      pointer-events: none;

      animation: transformScale 250ms $cubic;
    }

    &.current::after {
      opacity: 1;
    }

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.contakts {
  margin-left: auto;

  &__list {
    display: flex;
  }

  &__item:not(:first-child) {
    margin-left: 50px;
  }

  &__link {
    display: flex;
    align-items: center;

    padding: 10px 0;

    font-style: normal;
    color: $primery-text-color;

    transition: color 250ms $cubic;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}
